# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
xcuserdata/

# macOS
.DS_Store
*.swp
*~

# Windows
Thumbs.db
Desktop.ini

# IDE
.vscode/
.idea/

# 临时文件
*.tmp
*.log
*.md
!Windows打包指南.md
